docker_volumes/course2_spark/venv/
docker_volumes/course2_spark/.ipynb_checkpoints/
docker_volumes/course2_spark/__pycache__/
docker_volumes/course3_keras/venv/
docker_volumes/course3_keras/.ipynb_checkpoints/
docker_volumes/course3_keras/data/
!docker_volumes/course3_keras/data/concrete_data.csv
docker_volumes/course3_keras/models/
docker_volumes/course3_keras/__pycache__/
docker_volumes/course4_pytorch/venv/
docker_volumes/course4_pytorch/.ipynb_checkpoints/
docker_volumes/course4_pytorch/__pycache__/
docker_volumes/course5_tensorflow/venv/
docker_volumes/course5_tensorflow/.ipynb_checkpoints/
docker_volumes/course5_tensorflow/__pycache__/
docker_passwords/jupyter_password.txt