version: '3.7'
services:

  ibm_course3: 
    build:
      context: ./
      dockerfile: dockerfiles/jupyter_dockerfile
    image: img_ibm_jupyter
    container_name: cont_ibm_course3
    environment:
      CONT_PORT: 8888
    ports:
      - "8888:8888"
    volumes:
      - ./docker_volumes/course3:/project
    secrets:
      - sec_jupyter
      
secrets:
  sec_jupyter:
    file: docker_passwords/jupyter_password.txt