version: '3.7'
services:

  ibm_course2: 
    build:
      context: ./
      dockerfile: dockerfiles/jupyter_dockerfile
    image: img_ibm_jupyter
    container_name: cont_ibm2
    environment:
      CONT_PORT: 8882
    ports:
      - "8882:8882"
    volumes:
      - ./docker_volumes/course2_spark:/project
    secrets:
      - sec_jupyter

  ibm_course3: 
    build:
      context: ./
      dockerfile: dockerfiles/jupyter_dockerfile
    image: img_ibm_jupyter
    container_name: cont_ibm3
    environment:
      CONT_PORT: 8883
    ports:
      - "8883:8883"
    volumes:
      - ./docker_volumes/course3_keras/project
    secrets:
      - sec_jupyter

  ibm_course4: 
    build:
      context: ./
      dockerfile: dockerfiles/jupyter_dockerfile
    image: img_ibm_jupyter
    container_name: cont_ibm4
    environment:
      CONT_PORT: 8884
    ports:
      - "8884:8884"
    volumes:
      - ./docker_volumes/course4_pytorch:/project
    secrets:
      - sec_jupyter

  ibm_course5: 
    build:
      context: ./
      dockerfile: dockerfiles/jupyter_dockerfile
    image: img_ibm_jupyter
    container_name: cont_ibm5
    environment:
      CONT_PORT: 8885
    ports:
      - "8885:8885"
    volumes:
      - ./docker_volumes/course5_tensorflow:/project
    secrets:
      - sec_jupyter

secrets:
  sec_jupyter:
    file: docker_passwords/jupyter_password.txt